* {
    margin: 0;
    padding: 0px;
}

body {
    font-family: 'Open Sans', sans-serif;
    font-family: 'PT Sans', sans-serif;
}

p {
    padding: 10px 0px;
}

td {
    padding: 5px 10px 5px 0px;
}

/* input {
    outline: none;
    width: 200px !important; */
/* } */

select {
    outline: none;
    width: 211px;
}

textarea {
    outline: none;
    width: 200px;
}

.title-container {
    padding-bottom: 20px;
    display: flex;
    justify-content: space-between;


}

.bold {
    font-weight: bold;
}

.active {
    background-color: white !important;
    color: black !important;
    right: -7px !important;
}

.color {
    color: #3634C9;
}

.div-column {
    display: flex;
    flex-direction: column;
}

.stop-scrolling {
    height: 100%;
    overflow: hidden;
}

.text-createTask {
    font-weight: bold;
    background-color: #3634C9;
    color: white;
    border-radius: 10px;
    padding: 10px;
    cursor: pointer;
    border: none;
}


.text-createTask:hover {
    opacity: 0.5;
}

.text-cancel {
    font-weight: bold;
    margin-right: 10px;
    cursor: pointer;
}

.text-cancel:hover {
    opacity: 0.5;
}

.img-profilePicture {
    border-radius: 100px;
    height: 60px;
    width: 60px;
    object-fit: cover;
    margin-right: 10px;
}

.img-add {
    cursor: pointer;
    margin: 10px;
    height: 30px;
    width: 30px;
}

.img-add:hover {
    filter: invert(0.25);
}

.div-fillIns {
    border-radius: 5px;
    border: solid rgb(160, 158, 158) 1px;
    padding: 5px;
    font-family: 'PT Sans', sans-serif;
}

.div-description {
    resize: none;
    border-radius: 5px;
    border: solid rgb(160, 158, 158) 1px;
    padding: 5px;
    font-family: 'PT Sans', sans-serif;
    width: 200px;
}

.div-background {
    background-color: #EBEDFC;
    padding: 10px 20px;
    border-radius: 10px;
    margin-bottom: 35px;
    position: relative;
}

.div-flex {
    display: flex;
}

.div-padding {
    padding: 0px 0px 0px 50px;
}

form {
    display: flex;
    justify-content: space-between;
}

.div-deleteUser {
    color: #C2C2C2;
    cursor: pointer;
    background-color: rgb(0, 0, 0, 0.0);
    border-radius: 10px;
    display: flex;
    justify-content: center;
    align-items: center;
    height: 30px;
}

.div-deleteUser:hover {
    background-color: #C2C2C2;
    color: black;
}

.div-position {
    padding: 0px 30px 0px 220px;
    margin-bottom: 35px;
}

.div-tbody {
    padding: 5px;
    border-radius: 5px;
    border: solid rgb(160, 158, 158) 1px;
}

.div-createOrCancel {
    display: flex;
    align-items: center;
    position: absolute;
    gap: 10px;
    bottom: 10px;
}

.alert {


    border-radius: 10px;
    font-weight: 600;
    display: flex;
    z-index: 41;
    background: var(--darkgray);
    color: white;
    padding: 7px;
    opacity: 0;
    border-radius: 10px;
    font-weight: 600;
    ;

}

.animate-alert {
    animation: alert 0.8s;
    animation-fill-mode: forwards
}

.alert-container {
    position: absolute;
    width: 100%;
    height: fit-content;
    display: flex;
    justify-content: center;
    align-items: center;
    z-index: 40;
    top: 10px;
}


.absolute {
    position: absolute;
    left: 50%;
    top: 10%;
    width: 100px;

}

.reverse-alert {
    animation: reverse-alert 0.3s linear;
}

@keyframes alert {

    0% {
        /* transform: translateX(0%) translateY(-100%); */
        opacity: 0;
    }

    20% {
        /* transform: translateX(0%) translateY(-50%); */
        opacity: 0.2;
    }

    40% {
        /* transform: translateX(0%) translateY(-50%); */
        opacity: 0.4;
    }

    60% {
        /* transform: translateX(0%) translateY(-50%); */
        opacity: 0.6;
    }

    80% {
        /* transform: translateX(0%) translateY(-50%); */
        opacity: 0.8;
    }

    100% {
        opacity: 1;

    }

}



@keyframes reverse-alert {

    0% {
        /* transform: translateX(0%) translateY(-100%); */
        opacity: 1;

    }

    20% {
        /* transform: translateX(0%) translateY(-50%); */
        opacity: 0.8;


    }

    40% {
        /* transform: translateX(0%) translateY(-50%); */

        opacity: 0.6;

    }

    60% {
        opacity: 0.4;

        /* transform: translateX(0%) translateY(-50%); */
    }

    80% {
        opacity: 0.2;

        /* transform: translateX(0%) translateY(-50%); */
    }

    100% {
        opacity: 0;

    }

}




@media(width : 1050px) {}





.main-content {
    position: relative;
}





@media (max-width: 850px) {
    .div-flex {
        display: flex;
        flex-direction: column;
    }

    .stop-scrolling {
        overflow: visible;
    }

    .div-background {
        margin-bottom: 35px;
    }

    .div-padding {
        padding: 0px 0px 0px 0px;
    }

    .div-position {
        padding: 0px;
        margin-bottom: 35px;
    }

    form {
        flex-direction: column;
        width: 100%;
    }

    .title-container {
        justify-content: center;
        text-align: center;
    }

    .div-createOrCancel {
        right: 0;
        bottom: 0;
    }

    .alert {
        left: 0;
    }
}

/* 
@media (max-width: 425px) {
    .div-createOrCancel {
        display: flex;
        align-items: center;
        justify-content: center;
        flex-direction: column-reverse;
        right: 19px;
        margin: 0;
    }

    .text-cancel {
        margin-right: 0px;
    }

    .div-padding {
        width: 100%;
    }

}

@media (max-width: 320px) {
    .div-tbody {
        display: flex;
    }
}

@media (max-height: 525px) {
    .div-position {
        padding: 10px 30px 0px 30px;
    }

    .text-cancel {
        margin-right: 0px;
    }

} */

.dot {
    width: 15px;
    height: 15px;
    background-color: #bbb;
    border-radius: 50%;
    display: inline-block;
    border: none;
}

.dot-container {
    display: flex;
    padding-top: 10px;
    gap: 8px;

}


/* Dropdown */


/* Dropdown Button */
.dropbtn {
    background-color: #3498DB;
    color: white;
    padding: 16px;
    font-size: 16px;
    border: none;
    cursor: pointer;
}

/* Dropdown button on hover & focus */
.dropbtn:hover, .dropbtn:focus {
    background-color: #2980B9;
}

/* The container <div> - needed to position the dropdown content */
.dropdown {
    position: relative;
    display: inline-block;
}

/* Dropdown Content (Hidden by Default) */
.dropdown-content {
    display: none;
    position: absolute;
    background-color: #f1f1f1;
    min-width: 160px;
    box-shadow: 0px 8px 16px 0px rgba(0, 0, 0, 0.2);
    z-index: 1;
}

/* Links inside the dropdown */
.dropdown-content a {
    color: black;
    padding: 12px 16px;
    text-decoration: none;
    display: block;
}

/* Change color of dropdown links on hover */
.dropdown-content a:hover {
    background-color: #ddd;
}

/* Show the dropdown menu (use JS to add this class to the .dropdown-content container when the user clicks on the dropdown button) */
.show {
    display: block;
}