body {
    margin: 0;
    font-family: 'PT Sans', sans-serif;
}


.backlog {
    display: flex;
    flex-direction: column;
}

.log {
    max-width: 1000px;
}


.notask-info {
    padding: 50px;
    text-align: center;
    color: #fff;
    background-color: rgb(187, 180, 180);
    border-radius: 10px;
}

.overview {
    display: flex;
    flex-direction: column;
}

.title-backlog {
    height: 5px;
    font-size: 29px;
    margin-top: 10px;
}

.title-text {
    font-size: 14px;
    color: rgb(22 22 165);
    font-weight: 600;
    padding-left: 1px;
}

.history {
    background-color: rgba(244, 243, 251, 255);
    height: 100px;
    display: flex;
    border-radius: 13px;
    border-left: 4px solid rgb(36, 36, 158);
    margin-bottom: 15px;
    overflow: hidden;
    justify-content: space-between;
    position: relative;
}


.details {
    display: flex;
    justify-content: space-between;
    padding-top: 25px;
    margin-right: 40px;
}

.detail {
    font-size: 20px;
    font-weight: 600;
    margin-left: 5%;
    color: #273a94;
}

.members-list {
    display: flex;
    align-items: center;
    margin-left: 15px;
}

.edit-container {
    display: flex;
    justify-content: center;
    align-items: center;
    margin-top: 10px;
    height: 100%;
    width: 30%;

}

.edit-user {
    width: 40px;
    position: absolute;
    right: 5%;
    top: 30px;
}

.edit-user:hover {
    cursor: pointer;
    transform: scale(1.01);

}

.responsiv-details {
    display: none;
}

.responsiv-category {
    display: none;
}

.member-pic {
    width: 50px;
    border-radius: 50px;
    height: 50px;
    margin-left: 5px;
}

.email {
    color: #6b8cfc;
}

.user-data {
    display: flex;
    flex-direction: column;
    margin-top: 24px;
    margin-left: 24px;
}

.category {
    display: flex;
    align-items: center;
}


.details-history {
    display: flex;
    align-items: center;
}

.text-createTask {
    font-weight: bold;
    background-color: var(--darkgray);
    color: white;
    font-size: 19px;
    padding: 10px;
    cursor: pointer;
    border: none;
    height: 100%;
    width: 29px;


}

.active {
    background-color: white !important;
    color: black !important;
    right: -7px !important;
}








.alert {
    max-width: 400px;
    min-width: 150px;
    z-index: 41;
    background: var(--darkgray);
    color: white;
    padding: 7px;
    position: absolute;
    top: 0;
    left: 50%;
    border-radius: 10px;
    font-weight: 600;
    animation: alert 0.3s linear;

}






@keyframes alert {

    0% {
        transform: translateX(0%) translateY(-100%);
        opacity: 1;
    }

    50% {
        transform: translateX(0%) translateY(-50%);
        opacity: 1;
    }

    100% {
        transform: translateX(0%) translateY(0%);
    }

}


@media (max-width: 1250px) {

    .members-list {
        overflow-x: auto;
    }


    .backlog {
        width: 100%;
        margin-left: 8%;
    }


}


@media (max-width: 1100px) {

    .backlog {
        margin-left: 2%;
    }

    .members-list {
        overflow-x: auto;
    }

    .task-row {
        margin-top: 30rem;
    }
}

@media (max-height: 800px) {}



@media (max-width: 800px) {
    .history {
        width: 100%;

    }

    .backlog {
        display: flex;
        margin-left: 0%;
        justify-content: center;
        align-items: center;
        margin-right: 0px;
    }

    .history {
        position: relative;
    }

    .details {
        width: 100%;
    }

    .overview {
        width: 100%;
    }

    .break {
        word-break: break-all;
    }
}

@media (max-width: 750px) {
    .taskRow {
        display: flex;
        align-items: center;
        flex-direction: column;
    }

    .main-content {
        display: block !important;
    }

    .details {
        display: none;
    }

    .details-history {
        padding-left: 15px;
        position: absolute;
        top: 9rem;
        display: flex;
        flex-direction: column;
        align-items: baseline;
    }

    .history {
        height: 400px;
        flex-direction: column;
        width: 300px;
        border-top: 4px solid rgb(36, 36, 158);
        border-left: none;
        position: relative;
        margin-top: 8px;

    }

    .alert {
        left: 0px;
    }

    .responsiv-category {
        display: inline;
    }

    .responsiv-details {
        display: flex;
        padding-bottom: 5px;

    }


    .category {
        padding-left: 15px;
        position: absolute;
        top: 5.5rem;
    }

    .members-list {

        padding-bottom: 10px;
        box-shadow: 0px -1px 6px #3634c9;
        overflow-x: auto;
        max-width: 300px;
        padding-left: 5px;
        padding-top: 5px;
        margin-left: 0px;
    }

    .text-createTask {
        height: 10%;
        width: 100%;
    }

    .category1 {
        padding-left: 4px;
    }

    .edit-user {
        width: 39px;
        right: 1%;
        top: 7px;
    }
}

.background-container {
    position: absolute;
    background: gray;
    width: 100%;
    height: 100vh;
    top: 0;
    left: 0;
    bottom: 0;
    z-index: 10;
    display: none;
}

.info-header {
    width: 100%;
    text-align: center;
    align-items: center;
}

.info-box {
    position: absolute;
    min-width: 300px;
    max-width: 50%;
    padding: 30px;
    gap: 10px;
    background-color: #ffff;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%);
    z-index: 10;
    display: none;
    border-radius: 30px;
    flex-direction: column;
}

.info-area {
    outline: none;
    width: 90%;
    resize: none;
    padding: 5px;
}

select {
    outline: none;
    text-align: center;
    height: 25px;
    font-size: 16px;
}

.info-container {
    width: 100%;
    height: 100%;
    flex-direction: column;
    display: flex;
    justify-content: center;
    align-items: center;
    padding: 10px;

}

.select-options {
    text-align: center;
    height: 27px;
    width: 30%;
    border: 1px solid white;
}

.info-text {
    font-size: 20px;
    color: black;
    font-weight: bold;
    margin-top: 10px;
    text-align: center;
}

.info-input {
    outline: none;
}

label {
    color: black;
    font-size: 20px;
}

.close-button {
    border: 2px solid white;
    height: 33px;
    font-weight: bold;
    border-radius: 17px;
    width: 34px;
    background: #273a94;
    color: white;
    position: absolute;
    top: 10px;
    right: 15px;
}

.close-button:hover {
    background: white;
    color: #273a94;
    transform: scale(1.02);
    cursor: pointer;
}

.info-button__container {
    width: 20%;
    display: flex;
    justify-content: center;
    align-items: center;
}

.save-button {
    border: 1px solid white;
    border-radius: 1px;
    width: 100%;
}

.save-button:hover {
    cursor: pointer;
    transform: scale(1.01);
}


.buttons {
    display: flex;
    justify-content: end;
}

.edit-btn {
    cursor: pointer;
    display: flex;
    flex-direction: row;
    justify-content: center;
    align-items: center;
    height: 37px;
    width: 80px;
    border-radius: 13px;
    border: none;
    background: var(--darkgray);
    color: #ffff;
    gap: 12px;
}

.edit-btn:hover {
    background-color: var(--btnhover);
}


.close-btn {
    position: relative;
    width: 10px;
}

.close-btn-container {
    display: flex;
    justify-content: end;
}

.btn-close {
    border: none;
    background-color: white;
}

.btn-close:hover {
    transform: scale(1.2);
}

.main-content {
    margin-left: 0px;
    width: 100vw;
}


@media(max-height: 800px) {
    .info-box {
        gap: 3px;
    }
}