body {
    margin: 0;
    /* font-family: 'Open Sans', sans-serif;
    font-family: 'PT Sans', sans-serif; */
    display: flex;
    overflow-y: hidden;
}

.sidebar-block {
    height: 100vh;
    background-color: black;
    width: 200px;
}

.category-container {
    display: flex;
    justify-content: space-between;
    align-items: center;
}

.category-title {
    font-size: 20px;
    font-weight: bold;

}

.add-btn-img {
    height: 25px;
}

.add-btn-img:hover {
    opacity: 0.8;
}


.add-btn {
    background: none;
    border: none;
}

table {
    border-spacing: 15px 0px;
    padding: 0px;
    position: relative;
}

td {
    padding: 5px;
}

.stop-scrolling {
    height: 100%;
    overflow: hidden;
}

.bg-board {
    display: flex;
    height: 100%;
    overflow-x: auto;
    flex-wrap: wrap;
}

.task-area {
    min-height: 90vh;
    /* background-color: rgba(0, 0, 0, 0.1); */
    display: flex;
    flex-direction: column;
    min-width: 250px;
}

.task-container {
    display: flex;
    flex-direction: column;
    position: relative;
    gap: 5px;
    width: calc(100% - 38px);
    padding: 30px 15px;
    /* white */
    background: #FFFFFF;
    border-radius: 30px;
    /* Inside auto layout */
    flex: none;
    order: 0;
    flex-grow: 0;
}

.footer-task {
    display: flex;
    justify-content: space-between;
    width: 100;
}

.category-background {
    width: fit-content;
    border-radius: 8px;
    padding: 5px;
    background-color: #FF7A00;
}

.category {
    color: #fff;
}

.title {
    font-weight: bold;
    font-size: 19px;
}

.description {
    color: gray;
}

.div-ticket {
    flex: 1;
    width: 100%;
    display: flex;
    flex-direction: column;
    align-items: center;
}


.marketing {
    background-color: #FF7A00;

}

.info-header {
    display: flex;
    flex-direction: column;
    gap: 10px;
}

p {
    margin: 0;
}

@media (max-width: 1250px) {

    .side-box {
        position: fixed;
        left: 0;
        bottom: 0;
        width: 100%;
        color: white;
        z-index: 1000;
    }

    .task-area {
        width: fit-content;
        min-height: 400px;
        height: fit-content;
        width: 80px;
    }

    .main-content {
        display: flex;
        flex-direction: column;
        justify-content: flex-start;
        align-items: center;
        align-items: flex-start !important;
        height: calc(100vh);
        position: relative;
        top: 0;
        margin-left: 100px !important;
        margin-top: 100px;
        overflow-x: hidden;
        width: 100vw;
    }

    .flex-container {
        flex-wrap: wrap;
    }


}

@media(max-width: 850px) {
    html {
        overflow-y: scroll;
    }

    .main-content {
        margin-left: 0 !important;
        margin-right: 0 !important;
        align-items: center;
        margin-top: 0;
        height: 100% !important;
        overflow-y: auto;
        flex-direction: column;
    }

    .flex-container {
        flex-direction: column;
        flex-wrap: unset;
        overflow: unset;
        width: 100%;
        align-items: center;
        margin-top: 0;
        margin-bottom: 10px;
    }

    .title-containers {
        width: 100%;
        display: flex;
        justify-content: center !important;
    }

    .task-area {
        min-height: 200px;
        margin: 0px !important;
        gap: 10px;
    }


}

.close-btn {
    background: none;
    border: none;
    position: absolute;
    right: 19px;
    top: 6px;
}

.close-btn:hover {
    transform: translate(1.1);
}


.delete-button {
    position: absolute;
    right: 27px;
    background-image: url(../img/addtask/cross.svg);
    background-repeat: no-repeat;
    display: flex;
    justify-content: center;
    background-position: 50%;
    height: 20px;
    width: 10px;
    border: none;
    background-color: #FFFFFF;
    top: 10px;
    z-index: 1;
}

.task-fullscreen {
    display: flex;
    animation: zoomUp 1s forwards;
}

@keyframes zoomUp {
    0% {
        transition: scale(0);
    }

    100% {
        transform: scale(1);
    }
}

.d-none {
    display: none;
}

.task-board:hover {
    cursor: pointer;
}

@keyframes popUp {
    from {
        transform: scale(1);
    }

    to {
        transform: scale(1.1);
    }


}

.active {
    background-color: white !important;
    color: black !important;
    right: -7px !important;
}

.board-discription {
    display: flex;
    align-items: center;
    justify-content: center;
    min-height: 50px;
    width: 100%;
    background: rgb(36, 36, 158);
    color: white;
    font-size: larger;
    font-weight: bolder;
    margin-bottom: 1px;
}

/* Here starts the styling for the task*/
.font-style {
    font-size: 14px;


}

.task-name {
    position: absolute;
    top: -11px;
    left: 6px;
}

.task-title {
    position: absolute;
    top: 10px;
    left: 6px;
}

.task-date {
    position: absolute;
    top: -11px;
    right: 3px;
}


.task-text {
    position: absolute;
    bottom: 42px;
    left: 7px;
}

.task-urgency {
    position: absolute;
    top: -11px;
    left: 103px;

}

.div-ticket {
    flex: 1;
    gap: 10px;
    width: 100%;
    display: flex;
    flex-direction: column;
    align-items: center;
}



/* Here ends the styling*/

/* Styling task in fullscreen */

#taskBoardFullscreen {
    position: absolute;
    left: 0;
    right: 0;
    top: 0;
    bottom: 0;
    background-color: rgba(0, 0, 0, 0.9);
    align-items: center;
    justify-content: center;
    flex-direction: column;
    display: none;
}

#taskBoardFullscreen {
    position: absolute;
    left: 0;
    right: 0;
    top: 0;
    bottom: 0;
    background-color: rgba(0, 0, 0, 0.9);
    align-items: center;
    justify-content: center;
    flex-direction: column;
    display: none;
}

#popup {
    display: none;
    position: absolute;
    left: 0;
    right: 0;
    top: 0;
    bottom: 0;
    display: flex;
    align-items: center;
    justify-content: center;
    flex-direction: column;
    z-index: 1;
    background-color: rgb(1, 1, 1, 0.8);
}

.popup-container {
    display: flex;
    position: relative;
    flex-direction: column;
    padding: 10px;
    border-radius: 8px;
    background-color: #fff;
    width: 500px;
    position: absolute;
    /* border: 4px solid rgb(36, 36, 158); */
}


.info-row {
    display: flex;
    justify-content: space-around;
}

#taskFullscreen-title {
    color: #24249E;
    font-size: larger;
    font-weight: bold;
    text-align: center;
}

.info-container {
    text-align: center;
    gap: 10px;
}

.info-paragraph {
    font-size: 18px;
}


.close-btn-board {
    height: 23px;
    border-radius: 17px;
    width: 22px;
    position: absolute;
    top: 3px;
    right: 2px;
    cursor: pointer;
    text-align: center;
    color: #273a94 !important;
    border: 3px solid #273a94 !important;
    display: flex;
    justify-content: center;
    align-items: center;
    height: 45px;
    width: 45px;
    border-radius: 100%;
    border: 3px;
    background: none;
    color: #273a94;
    font-weight: bold;
}

.close-btn-board:hover {
    background: #273a94;
    color: #fff !important;
}



.task-board {
    position: relative;
    background-color: white;
    width: 100%;

}

.button-container {
    margin-left: 5px;
    margin-right: 5px;
    display: flex;
    justify-content: space-between;
    align-items: center;
    padding-top: 2px;
    padding-bottom: 2px;
}

/* .delete-button {
    border: 2px solid white;
    height: 20px;
    border-radius: 17px;
    width: 20px;
    background: none;
    color: white;
}
.move-button{
    z-index: 1;
    background: none;
    border: none;
    cursor: pointer;
    border: 1px solid #fff;
    border-radius: 100%;
    } */


.arrow-containers {
    display: flex;
    align-items: center;
    justify-content: space-between;

}

.move-right-img {
    height: 20px;
    width: 20px;
    border: 2px solid #fff;
    border-radius: 100%;
    padding: 1px;
    cursor: pointer;
    margin-left: 5px;

}

.mirror {
    transform: scaleX(-1);
}

.close-img {
    height: 20px;
    width: 20px;
    border: 2px solid #fff;
    border-radius: 100%;
    cursor: pointer;

}


.flex-container {
    /* height: 100%; */
    display: flex;
    gap: 20px;
    box-sizing: border-box;
}

/* .div-ticketsResponsive {
    
} */

@media (max-width: 1100px) {


    .move-right-img {
        height: 15px;
        width: 15px;
    }

    .close-img {
        height: 15px;
        width: 15px;
    }

}

@media (max-width: 800px) {
    .bg-board {
        margin: 0;

    }

    .task-area {
        margin: 15px 3px 0px 0px;
    }

    /* .flex-container {
        display: flex;
        margin-top: 36px;
    } */

    #taskFullscreen {
        width: 80%;
    }

}

@media (max-height: 525px) {




    .div-ticket {
        height: 90%;
        overflow-y: auto;
    }

    /*   .div-ticketsResponsive {
        height: 90%;
        overflow-y: auto;
    } */
}

@media (max-height: 425px) {
    .div-scrollbox {
        overflow-y: auto;
        height: 250px;
    }

}


.info-header {
    width: 100%;
    text-align: center;
    align-items: center;
}

.info-box {
    position: absolute;
    width: 100%;
    max-width: 50%;
    height: 60%;
    background-color: #273a94;
    border: 3px solid white;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%);
    z-index: 10;
    display: none;
    border-radius: 30px;

}

.info-area {
    outline: none;
    width: 90%;
    resize: none;
    padding: 5px;
}

select {
    outline: none;
    min-width: 150px;
    max-width: 300px;
    text-align: center;
    height: 25px;
    font-size: 16px;
}

.info-container {
    width: 100%;
    height: 100%;
    flex-direction: column;
    display: flex;
    justify-content: center;
    align-items: center;
    /* padding: 10px; */

}

.select-options {
    text-align: center;
    height: 27px;
    width: 30%;
    border: 1px solid white;
}

.info-text {
    font-size: 20px;
    font-weight: bold;
    margin-top: 10px;
    text-align: center;
}

.info-input {
    outline: none;
}

.form-container {
    background: #fff;
    padding: 12px 32px;
    border-radius: 14px;
    position: relative;
}

.close-button {
    height: 33px;
    font-weight: bold;
    border-radius: 17px;
    width: 34px;
    color: #fff;
    background-color: var(--darkgray);
    position: absolute;
    top: 10px;
    right: 15px;
    border: none;
}

.close-button:hover {
    transform: scale(1.2);
    cursor: pointer;
}

.info-button__container {
    width: 100%;
    display: flex;
    justify-content: center;
    align-items: center;
    gap: 30px;
    margin-top: 10px;
}

.save-button {
    border: 1px solid white;
    border-radius: 1px;
    width: 100px;
    background: var(--darkgray);
    color: #fff;
    border-radius: 15px;
}

.save-button:hover {
    cursor: pointer;
    background-color: var(--btnhover);

    transform: scale(1.05);
}

.delete-btn {
    width: 100px;
    border-radius: 15px;
    border: none;
    background-color: #FF0000;
    color: #fff;
    font-weight: bold;
}

.delete-btn:hover {
    cursor: pointer;
    transform: scale(1.05);
}